*
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
}
html
{
    height: 100%;
}
body
{
    height: 100%;
}
#nav
{
    width: 100%;
	min-height: 50px;
	display: -webkit-flex;
	display: flex;

	justify-content: center;
	align-content: center;
	overflow: hidden;
	background: #414141;
	color: rgba(0,0,0,0.4);

	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
#nav a 
{
	position: relative;
	cursor: pointer;
	width: 160px;
	height: 100%;
	font-size: 1.5em;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
    text-decoration: none;
}
#wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#content
{
    height: 100%;
    background-color: #56b8d0;
    flex-grow: 1;
    flex-shrink: 1;
}
#bgVideo
{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    overflow:hidden;
    height: 100%;
}
#title
{
    position: absolute;
    /*z-index: 2;*/
}
