<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title name="title" active>Master document</title>
		<link rel="stylesheet" type="text/css" href="/client/style.css">
		<script src="/alloy/alloy.js"></script>
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
	</head>
	<body>
        <div id="wrapper">
            <nav id="nav">
                <a href="/" alt="Home">Home</a>
                <a href="/what" alt="What?">What is it?</a>
                <a href="/documentation" alt="Documentation">Documentation</a>
            </nav>
            <div id="content" name="content" active>
                
            </div>
		</div>
	</body>
</html>